<%= stylesheet_link_tag "klp" %>
<div style="margin-left: 30px ;width: 500px;" >
<h1 style=" font-weight: bold;">
KL Partitioning
</h1>
<p>
Min-cut partitioning a graph using kernighan Lin algorithm.
KL algorithm is an old heuristic algorithm for partitioning a graph into two parts, 
with equal number of vertices in each part, and as small as possible number of cuts between the two parts.
Since it is a heuristic algorithm, the minimality is not guaranteed.
</p>
<p>
<a href="https://github.com/li3939108/KL-Partitioning/archive/master.zip">Download</a><br/>
<a href="https://github.com/li3939108/KL-Partitioning">Github Repository</a>
</p>
</div>
