/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";

$bg_gray: #f5f5f5;
$text_color: #292433;
$link_color: #0084B4;

h1 {
  display: block;
  font-size: 2em;
  font-weight: 400;
}
body{
  font-family:"Microsoft YaHei UI Light", Arial, "Helvetica Neue",Sans-Serif; ;
}
h3 {
  display: block;
  font-size: 1.17em;
  font-weight: 400;
}

h5 {
  display: block;
  font-size: 1em;
  font-weight: 400;
}

a:hover {
  color: $link_color;
  border-bottom: solid 1px $link_color;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: dotted 1px $link_color;
}

.octicon {
  font-family: 'octicons';
}

.rst {
  font-family: 'rosseta';
}

.fa {
  font-family: FontAwesome;
}

.fa, .rst, .octicon {
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  vertical-align: baseline;
}

p {
  text-align: justify;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal
}


