$goldratio: 1.61803398875;
$goldratiol: 0.61803398875;
$panel_width: 38.196601125%;
$panel_min_width: 500px;
$left_pos : 200px;
body {
  background: white;
  font-size: 14px;
  font-family: "Segoe UI", "Microsoft YaHei UI Light", "DejaVu Sans", "Microsoft YaHei UI", "Lucida Grande",  sans-serif;
  width: $panel_width;
  min-width: $panel_min_width;
  margin-left: $panel_width * $goldratiol ;
  font-weight: 500;
}
