$goldratio: 1.61803398875;
$panel_width: 38.1966%;
body {
  background: white;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  width: $panel_width;
  position: absolute;
  right: $panel_width;
}
