/// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$contacts-first-column : 20% ;
$link_color: #0084B4;


.topbar{
	border-bottom: 1px solid rgba(0,0,0,0.05);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;	
	height: 46px;
	background: white;
}
.global-nav{
	border-bottom: 1px solid rgba(0,0,0,0.15);
	height: 46px;
	position: relative;
	width: 100%;
	background: transparent;
	box-shadow: 0 4px 6px #e5e5e5 ;
}
.container{
	max-width: 1000px;
	text-align: center;
	width: auto;
	position: relative;
	margin: 0 auto;
}
.panel{
	max-width: 810px ;
	text-align:left;
	padding: 10px 24px 10px 24px;
	background: white;
	border-top: 1px solid rgba(0,0,0,0.05);
	box-shadow: 0 4px 8px #e5e5e5 ;
	margin:0px auto 10px auto ;
}
li.publication-list{
	list-style-position: outside ;
}
div.paragraph{
	margin:10px 24px ;
}
span.para-title-text{
	color: $link_color ;
}
a.anchor{
	display: inline-block ;
	position:relative;
	width:0px;
	left:-17px;
	line-height: 0;
	opacity: 0;
	transition: all .15s ease-in-out;
}
ul{
	list-style: none;
	padding: 0;
	display: block;
}
.nav{
	float: left;
	margin-right: 0px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	text-align: left;
}
.nav>li{
	color: #66757f;
}

.global-nav , .nav, .nav>li {
	float: left;
}
.icon-left{
	margin: 12px 0 0 0px;
}
.icon-right{
	margin: 12px 5px 0 0px;
	opacity: .3;
}
.icon-right:hover{
	opacity: 1;
}
.icon{
	float: left;
	width: 24px;
	height: 24px;
	font-size: 22px;
}
.fa-home{
	font-size: 24px;
	margin-bottom: 9px;
}
.icon:before{
	display: block;
	font-weight: normal;
	font-style: normal;
	text-align: center;
}

.text {
	float: left;
	margin-left: 3px;
	margin-top: 17px;
	padding: 0 10px 0 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 1;
}
.topbar-left{
	float:left;
}
.topbar-right{
	float:right;
}
a:hover{
	color: $link_color ;
}
a{
	text-decoration: none;
	color: inherit;
}
a.top-nav-left{
	padding: 0px 10px;
	border-bottom: 4px solid $link_color;
}
a.top-nav-right{
	padding: 2px 0 0 0;
	border-bottom: none;
}
a.top-nav{
	display: block ;
	float: left ;
	transition: all .15s ease-in-out;
	height: 46px;	
	background-color: transparent;
	position: relative;
}
li.top-list{
	height: 46px ;
	overflow: hidden;
	float: left;
}
li.top-list:hover>a{
	height: 42px ;
	color: $link_color ;
}
li.active>a{
	height: 46px ;
	color: $link_color ;
}
.content{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding-top: 54px;
}

ul.vertical{
	margin: 0;
	text-align: left;
	display: block;
}
.vertical>li{
	margin: 10px 0;
	width: 100%;
}
.first-column{
	width: $contacts-first-column ;
	display: inline-block;
	float: left;
}
.second-column{
	width: 100% - $contacts-first-column;
	display: inline-block;
}
.contact-icon{
	margin-right: auto;
	display: inline-block;
	width: 1em;
	opacity: 0.3;
	text-align: center ;
	transition: all .15s ease-in-out;
}
span.icon-link{
}
span.icon-as-hover, span.icon-link:hover{
	color: $link_color ;
	cursor: pointer ;
}
#location-map{
	transition: all .15s ease-in-out;
}
div.foot{
	margin-top: 60px;
	padding-top: 10px ;
	margin-bottom: 10px ;
	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.15);
	font-size: small;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow: 0 1px 0 rgba(0,0,0,0.05);
	background-color: transparent ;
	opacity: .4;
}
div.foot>a.text-link{
	border-bottom: dotted 1px #a5a5a5 ;
}
div.foot>a.text-link:hover{
	border-bottom: solid 1px #858585 ;
}
div.foot>a:hover{
	color: #858585 ;
	opacity: 1;
}

pre.pseudo{
	padding-left: 4% ;
	display: block;
	font-family: 'Ubuntu Mono', monospace;
	font-size: small ;
	white-space: pre;
	margin: 1em 0px;
	text-align: left ;
	-moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
}
span.comments{
	opacity: .3 ;
}
a.content-link{
	border-bottom: dotted 1px $link_color ;
}
a.file-link{
	font-family: 'Ubuntu Mono', monospace ;
}
