
$goldratio: 1.61803398875;
$panel_width: 38.1966%;
body {
  background: white;
  font-size: 14px;
  font-family: "Segoe UI", "Microsoft YaHei UI Light", "DejaVu Sans", "Microsoft YaHei UI", "Lucida Grande",  sans-serif;
  font-weight: 300;
  width: $panel_width;
  min-width: 500px;
  margin-left: $panel_width * $goldratiol ;
  right: $panel_width;
}
